/* #region General Styles */
body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
}


canvas {
    border: 1px solid #000;
}
/* #endregion General Styles */

/* #region Common Components */
.button {
    font-size: 20px;
    padding: 10px 15px;
    margin: 20px 2px;
    cursor: pointer;
    width: 200px;
}

.label {
    font-size: 14px;
    text-align: right;
}
/* #endregion Common Components */

/* #region Fan */
.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: grey;
    margin-left: 10px;
    position: relative;
}

.circle::before,
.circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 2px;
    height: 20px;
}

.circle::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.circle::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.fan {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
/* #endregion Fan */

/* #region Thermometer */
.thermometer-header {
    display: flex;
    justify-content: center;
    font-size: 14px; /* Adjust the pixel value to change the size */
    align-items: baseline;
    gap: 5px;  /* to provide a gap between the label and temperature */
    margin-bottom: 5px;  /* to provide some space between the label and the thermometer */
}

.thermometer {

    width: 50px;
    height: 200px; /* increased the height */
    position: relative;
    margin-left: 30px;
    margin-right: auto;
}

.tempValue {
  white-space: nowrap;
}

.glass {
    width: 10px;
    height: 100%;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    z-index: 2;
}

.red-fluid {
    width: 100%;
    height: 20%; /* set to 20% for now */
    background-color: #ff0033;
    position: absolute;
    bottom: 0;
    transform-origin: bottom;
    transform: scaleY(1);
    z-index: 1;
}

.mercury {
    width: 100%;
    height: 100%;
    background-color: #d8d8d8;
    position: absolute;
    bottom: 0;
}

.scale {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    color: #666;
    /* removed the rotate */
}

.graduations {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.major-graduation {
    width: 100%;
    height: 0px;
    background-color: #ccc;
}

.minor-graduation {
    width: 100%;
    height: 0px;
    background-color: #ccc;
}

.labels {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* aligns items to the end */
    justify-content: space-between;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 75px; /* adjusted margin to position labels correctly */
    margin-bottom: 15px;
}
/* #endregion Thermometer */


/* #region Tents */
.tent {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.outer-tent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
}

.inner-tents-container {
    display: flex;  /* set flex property to the new wrapper */
    justify-content: space-between;  /* space inner tents */
    width: 100%;  /* make sure it fills the outer tent */
}

.inner-tent {
    height: 70%;  
    margin: 10px 0; /* add some margin for spacing */
    width: 30%; /* set the width to 1/3 of the container */
}

.fruiting-tent {
    order: 1;  /* This ensures the fruiting tent comes first */
}

.outer-tent-thermometer {
    order: 2;  
    width: 30%; 
}

.grow-tent {
    order: 2;  /* This ensures the grow tent comes after the fruiting tent */
}

.thermometer .glass {
    height: 150px;
}
/* #endregion Tents */
