<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Monitoring System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <h1>Home Monitoring System</h1>
    <div id="deviceInfo"></div>
    <div id="temperatureInfo"></div>
    <div id="temperatureValue"></div>

    <div class="fan">
        <button id="turnOnFan1" class="button">
            Fan 1 - <span id="fan1Status">Off</span>
        </button>
        <div class="circle" id="fan1Circle"></div>
    </div>

    <div class="fan">
        <button id="turnOnFan2" class="button">
            Fan 2 - <span id="fan2Status">Off</span>
        </button>
        <div class="circle" id="fan2Circle"></div>
    </div>

    <div class="thermometer">
        OT
        <div class="glass">
            <div class="red-fluid" id="redFluid"></div>
            <div class="mercury"></div>
        </div>
        <span id="tempValueOutdoor"></span>
        <div class="scale">
            <div class="graduations">
                <div class="major-graduation"></div>
                <div class="minor-graduation"></div>
            </div>
            <div class="labels">
                <div class="label">35&deg;C</div>
                <div class="label">25&deg;C</div>
                <div class="label">10&deg;C</div>
            </div>
        </div>
    </div>

    <div class="tent outer-tent">
        <div id="tentContainer" class="center-text">
            Main Tent 
        </div>
        <div class="inner-tents-container">
            <div class="tent inner-tent fruiting-tent">
            Fruiting Tent
                <div class="thermometer">
                    FT
                    <div class="glass">
                        <div class="red-fluid" id="redFluidFruiting"></div>
                        <div class="mercury"></div>
                    </div>
                    <span id="tempValueFruiting"></span>
                    <div class="scale">
                        <div class="graduations">
                            <div class="major-graduation"></div>
                            <div class="minor-graduation"></div>
                        </div>
                        <div class="labels">
                            <div class="label">35&deg;C</div>
                            <div class="label">25&deg;C</div>
                            <div class="label">10&deg;C</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thermometer outer-tent-thermometer">
                <div class="thermometer">
                    MT
                    <div class="glass">
                        <div class="red-fluid" id="redFluidMainTent"></div>
                        <div class="mercury"></div>
                    </div>
                    <span id="tempValueMainTent"></span>
                    <div class="scale">
                        <div class="graduations">
                            <div class="major-graduation"></div>
                            <div class="minor-graduation"></div>
                        </div>
                        <div class="labels">
                            <div class="label">35&deg;C</div>
                            <div class="label">25&deg;C</div>
                            <div class="label">10&deg;C</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tent inner-tent grow-tent">
             Grow Tent
                <div class="thermometer">
                    GT
                    <div class="glass">
                        <div class="red-fluid" id="redFluidGrow"></div>
                        <div class="mercury"></div>
                    </div>
                    <span id="tempValueGrow"></span>
                    <div class="scale">
                        <div class="graduations">
                            <div class="major-graduation"></div>
                            <div class="minor-graduation"></div>
                        </div>
                        <div class="labels">
                            <div class="label">35&deg;C</div>
                            <div class="label">25&deg;C</div>
                            <div class="label">10&deg;C</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>
